<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78435083263-sii71o47m14peg24jddmvjk93veumrli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78435083263-sii71o47m14peg24jddmvjk93veumrli</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_bxwkoPUCF2k2izYOKN1VNaVOA_86hA</string>
	<key>GCM_SENDER_ID</key>
	<string>78435083263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apputec</string>
	<key>PROJECT_ID</key>
	<string>bdschool-746b0</string>
	<key>STORAGE_BUCKET</key>
	<string>bdschool-746b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78435083263:ios:f0494848fdcc47d3153dca</string>
	<key>DATABASE_URL</key>
	<string>https://bdschool-746b0-default-rtdb.firebaseio.com</string>
</dict>
</plist>